.App {
  text-align: center;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #0f9d49;
}

#map {
    position: fixed !important; 
    height: 100% !important;
    width: 100% !important;
}
.autoCompleteBox {
  width: 300px;
}
.gm-ui-hover-effect:focus-visible {
  outline: none;
}
.headerTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}
.locationBox {
  display: flex;
}
.placeDropdownBox {
  padding: 24px 10px 10px;
  box-sizing: border-box;
}
.placeDropdownBox .placeLabel {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}
@media (max-width: 767px){
  .autoCompleteBox {
    width: 30vw !important;
  }
}